*{

    outline: none;

    font-family: Arial;
}
body{
   
    background-color: rgb(242, 244, 247);
    margin-top:70px;
    margin-left: 500px;
    background-color: aqua;
    margin-right: 500px;
}

